{% extends "base.html" %}

{% block content %}
Upload a PNG, JPG, or TIFF Image:

<form id='fileform' enctype='multipart/form-data' action='upload_receive' method='POST'>
    Name: <input type='text' name='name'><br>
    Description: <input type='text' name='description'><br>
    Filename: <input type='file' name='file'><br>
<input type='submit'>
</form>

<script>
$(document).ready(function() {
    $('#fileform').ajaxForm(function(data) {
        // Form is done uploading once it gets to here.
        });
    });
</script>
{% endblock %}
